@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Vidly</h1>
    <p class="text-center lead">All your favorite movies <br /> Who need Netflix when you have Vidly.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>B-movie and Slasher Classics</h2>
        <p>So much gore... so very much gore</p>
    </div>
    <div class="col-md-4">
        <h2>Heaps of Awesome Content</h2>
        <p>Much stuff and niceness</p>
    </div>
    <div class="col-md-4">
        <h2>Amazing Website design too</h2>
        <p>Cus that's so important when you're pickin' your flicks</p>
    </div>
</div>