@model Vidly.Models.Customer
@{
    ViewBag.Title = "DetailsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model == null)
{
    <text> We don't have any customers </text>
}
else
{
<h2>
    @Model.Name
</h2>
}